/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
    font-family: 'Quicksand', sans-serif;
}

.titlebar,
.titlebar > div {
    height: 100px;
    background-color: #242424;
    color: white;
    box-sizing: border-box;
}

.titlebar {
    width: 100%;
    position: relative;
}

.titlebar > div {
    position: absolute;
    top: 0;
    display: inline-block;
    text-align: center;
}

.titlebar .appname {
    left: 0;
    width: 20%;
    font-size: 80px;
    background-color: #193a53;
}
.titlebar .location {
    left: 20%;
    width: 80%;
    font-size: 60px;
    padding-top: 10px;
}

.sidebar {
    width: 220px;
    height: 100%;
    min-height: 880px;
    position: absolute;
    top: 100px; left: 0;
    bottom: 0;
    display: inline-block;
    background-color: #242424;
}

.sidebar-button {
    height: 220px;
    width: 220px;
    position: relative;
    display: block;
    
    font-size: 20px;
    text-align: center;
    color: white;
}

.sidebar-button img {
}

.sidebar-button {
    padding-top: 50%;
    padding-bottom: 50%;
    box-sizing: border-box;
}

.sidebar-button.pictures:hover,
.sidebar-button.pictures.selected {
    background-color: #39637c;
}

.sidebar-button.notes:hover,
.sidebar-button.notes.selected {
    background-color: #007c39;
}

.sidebar-button.rulers:hover,
.sidebar-button.rulers.selected {
    background-color: #c6732f;
}

.sidebar-button.drawings:hover,
.sidebar-button.drawings.selected {
    background-color: #63397c;
}

.content {
    width: auto;
    position: absolute;
    top: 100px;
    left: 220px;
    right: 0;
    bottom: 0;
}

.content .background {
    background-image: image('../img/img_grid.png');
    max-width: 1700px;
    max-height: 980px;
}

.content .background img {
    max-height: 100%;
    max-width: 100%;
    overflow: hidden;
}

.content .drawing {
    position: absolute;
    left: 0; top: 0;
    width: 100%; height: 100%;
    display: none;
}

.content .drawing .drawing-canvas {
    position: absolute;
    left: 0; top: 0;
    width: 100%; height: 100%;
}

.content .drawing.active {
    display: block;
}
.content .drawing.active .drawing-canvas {
    z-index:5;
}
.content .drawing.active .icon {
    z-index:10;
}